@import "~svd-style/ext.scss";

.svd-footer {
  padding: grid(1);
  .content-columns {
    .column {
      padding: grid(1 0);
      @media #{$medium-down} {
        padding: grid(1);
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-left: 0;
      }
    }
  }
}

.copyright {
  font-size: rem(12);
  color: color(White,.5);
}
.footerNav {
  &__list {
    position: relative;
  }
  &__item {
    display: block;
  }
  &__link {
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
  &__text {
    display: block;
    color: white;
  }
}
